@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Designer.Dnn.Designer.Models.UsableGraphics>>

@{
    ViewBag.Title = "GetUsableGraphics";
    Layout = "~/desktopmodules/mvc/designer/Views/Shared/_Layout.cshtml";
}


<div class="product-grid">
    @foreach (var item in Model)
    {
        <div class="product-card">
            <img src="@Url.Content("~/desktopmodules/mvc/designer/Assets/UsableGraphics/"+item.GraphicPic)" alt="Product @item.GraphicId">
        </div>
    }
</div>
