@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<DesignableProduct>

@using System.Web.Mvc.Html
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@using Designer.Dnn.Designer.Models

@{
    ViewBag.Title = "Detail";
    Layout = "~/desktopmodules/mvc/designer/Views/Shared/_Layout.cshtml";
}

<h2>Póló</h2>
<div class="product-card">
    <h2 class="product-name">@Model.ItemName</h2>
    <img src="@Url.Content("~/desktopmodules/mvc/designer/Assets/ProductImages/"+Model.ItemPic)" alt="Product 1">
    <p class="product-price">@Model.ItemPrice</p>
</div>

