@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<DesignableProduct>

@using System.Web.Mvc.Html
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@using Designer.Dnn.Designer.Models

@{
    ViewBag.Title = "Detail";
    Layout = "~/desktopmodules/mvc/designer/Views/Shared/_Layout.cshtml";
}


<div class="designer">
    <form action="@Url.Action("UploadGraphic", "DesignableProduct")" method="post" enctype="multipart/form-data">
        <label for="graphicUpload">Upload Graphic:</label>
        <input type="file" name="graphicFile" accept="image/*" required />
        <button type="submit">Upload Image</button>
    </form>
    <a href="@Url.Action("GetUsableGraphics", "DesignableProduct")" class="design-btn">Válassz képet</a>
</div>

