@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Designer.Dnn.Designer.Models.UsableGraphics>>

@{
    ViewBag.Title = "GetUsableGraphics";
    Layout = null;
}

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div class="grid-container">
    @foreach (var item in Model)
    {
        <div class="grid-item">
            <img class="grpahic-img" src="@Url.Content("~/desktopmodules/mvc/designer/Assets/UsableGraphics/" + item.GraphicPic)" alt="Usable Graphic" onclick="imageClicked(this.src)">
        </div>
    }
</div>

<script>
        var elements = document.querySelectorAll('#topHeader, header, footer');
        elements.forEach(function (el) {
            el.classList.add('hidden'); // Add the class to hide the elements
        });
</script>