@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< bakaJzspiG.ShirtDesigner.ShirtDesigner.Models.Item >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">
    <p1>Hello World</p1>
</div>
