.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center; /* Centering text and contents in the card */
}

.product-name {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.card-footer {
    display: flex;
    justify-content: space-between; /* Aligning items on the same line with space between */
    align-items: center;
    margin-top: 10px; /* Space between image and footer */
}

.product-price {
    font-weight: bold;
}

.design-btn {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .design-btn:hover {
        background-color: #0056b3;
    }
