.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center; /* Centering text and contents in the card */
}

.product-name {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.card-footer {
    display: flex;
    justify-content: space-between; /* Aligning items on the same line with space between */
    align-items: center;
    margin-top: 10px; /* Space between image and footer */
}

.product-price {
    font-weight: bold;
}

.design-btn {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .design-btn:hover {
        background-color: #0056b3;
    }


   /* Buttons on Detail page*/
.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    left: 20px;
    top: 20px;
}

#text-btn-container, #upload-btn-container {
    display: flex;
    justify-content: center;
    height: 110px;
    width: 110px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

#text-label, #upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    #text-label img, #upload-label img {
        margin-bottom: 5px;
    }

    #text-label span, #upload-label span {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

/* Hide the file inputs */
#text-btn, #upload-btn {
    display: none;
}